@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

header {
    background-color: #23a034;
    box-shadow: -4px 3px 2px #00000044;
}

footer{
    background-color: #E2F4E7;
}

section {
    position: relative;
}

.services{
 padding: 4vh 50% 4%;
 background-color: #FFFFFF;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  @media (max-width: 733px) {
    html, body {
        margin: 0;
        padding: 0;
    }

    }