/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 12%;
    top: 0; 
    left: 0;
    z-index: 1000; 
    border-radius: 2px 2px 20px 20px;
    border: transparent;
}

header img {
    width: 80px;
    height: 80px;
    padding-top: 3vh;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 2vw;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 12px;
    padding-right: 2%;
}

nav li {
    display: flex;
    align-items: center;
}

nav a {
    white-space: nowrap;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 1vh;
    font-weight: 400;
    transition: text-decoration 0.5s ease;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(12, 93, 4);
    text-decoration-thickness: 3px; 
    text-underline-offset: 3px;
}


/* Estilos para el hero */
.hero {
    position: relative;
    display: flex;
    margin-top: 12vh;
    overflow: hidden;
    padding: 30% 30% 28% 30%;
}

.hero img {
    position: absolute;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Estilos para el contenedor del hero */
.container-hero {
    position: absolute;
    top: 8vh;
    left: 4%;
    display: flex;
    flex-direction: column;
    padding: 3% 55% 5% 0;
    opacity: 0; 
    animation: fadeInUp 1s forwards;
}

/* reviews styles */
.customer-reviews{
    background-color: #235A33;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-top: 4vh;
}

.reviews-title{
    margin-top: 1vh;
    font-size: xx-large;
    margin-bottom: 6vh;
}

.customer-reviews img{
    width:150px;
    height:150px;
    object-fit: cover;
    border: solid #235A33;
    border-width: 10px;
    border-radius:100%;
    margin: 0 auto 10px;
    position: absolute;
    top: -75px;
}

.reviews-container{
    display: flex;
    gap: 6vw;
    margin: -2vh 17vw 16vh 17vw;
    position: relative;
}

.customer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #C8CACB;
    color: #000000;
    width: 20vw;
    padding: 1.5vh 2.5vw 1.5vh 2.5vw;
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 75px;
}

.reviews-container h3{
    margin-top: 9vh;
    margin-bottom: 0;
}


/* footer styles */

footer{
    background-color: #e2f4e789;
    display: flex;
    flex-direction: row;
    
}

.footer-icon{
    width: 5vw;
    margin: 6vh 7vw 0% ;
}

.footer-desc{
    margin-left: 3vw;
    margin-top: 0;
}

.useful-links{
    margin: 2% 6% 4%;
    white-space: nowrap;
    font-size: small;
}

.useful-links h2{
    font-weight: 500;
    font-size: medium;
}

.help-support{
    margin: 2% 6% 4%;
    white-space: nowrap;
    font-size: small;
}

.help-support h2{
    font-weight: 500;
    font-size: medium;
}

.contact-us{
    margin: 2% 6% 0%;
    font-size: small;
}

.contact-us h3{
    font-weight: 600;
    font-size: medium;
}

.phone-icon{
    width: 1.5vw;
    
}

.phone{
    display: flex;
    align-items: center;
}

.email-icon{
    width: 1.5vw;
    margin-right: 0.2vw;
}

.email{
    display: flex;
    align-items: center;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.container-hero h1 {
    font-size: 38px;
    margin-bottom: 1.5vh;
    padding-left: 10%;
    text-decoration: none;
}

.container-hero p {
    font-size: 20px;
    margin-top: 0;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.container-hero button {
    width: 27%;
    height: 25%;
    background-color: #359852;
    border: transparent;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20%;
    margin-top: 3vh;
    color: #000000;
    font-weight: bold;
    padding: 10px 20px;
    box-shadow: -4px 5px 2px #000000;
    background-image: linear-gradient(to bottom, #359852, #359852);
    transition: background-color 0.3s ease;
}

.container-hero button:hover {
    background: #268a5c;
    background-image: linear-gradient(to bottom, #268a5c, #24b337);
    text-decoration: none;
}

.services {
    display: flex;
    flex-wrap: wrap; /* Permite que los contenedores de tarjetas se ajusten en la siguiente fila si no hay espacio */
    justify-content: center; 
}

.services img {
    width: 256px;
    height: 280px;
    object-fit: cover;
    border-radius: 55px;
}

.services h1 {
    text-align: center;
    font-size: 30px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%; /* Margen responsivo */
    background-color: #235A32;
    padding: 2%; /* Padding responsivo */
    border-radius: 2px 2px 25px 20px;
    flex-basis: 30%; /* Tamaño base flexível */
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 10%; 
    justify-content: center; /* Centrar las tarjetas en el contenedor */
}

.card {
    width: 100%;
    text-align: center;
}

.description-container {
    margin-top: 1rem; /* Margen superior responsivo */
    color: #000;
    width: 100%;
    text-align: center;
}

.card-container h3 {
    margin: 1rem 0; /* Margen responsivo */
    color: #fff;
    font-weight: 600;
}

.card-container p {
    color: #fff;
    font-weight: 450;
}





@media (max-width: 1050px) {

    header{
        height: 12%;
    }

    header img {
       height: 64px;
     width: 64px;
    }
    .hero {
        padding: 30% 5%;
    }
    

    .container-hero {
        top: 10vh;
        left: 5%;
        padding: 0% 15% 5% 0;
     
    }

    .container-hero h1 {
        font-size: 32px;
    }

    .container-hero p {
        font-size: 18px;
    }

    .container-hero button {
        width: 17%;
        height: 10%;
        margin-right: 10%;
    }
    .cards{
        flex-wrap: wrap;
    }
    
}

@media (max-width: 733px) {

    header{
        border-radius: 2px 2px 6px 6px;
    }
    .hero {
        padding: 10% 2%;
    }

   
    .hero img{
        filter: blur(6px);
    }

    .container-hero {
        position: relative; 
        top: 0;
        left: 0;
        padding: 3% 10% 5% 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15%;
        margin-top: 0;
    }

    .container-hero h1 {
        font-size: 28px;
        color: #fff;
    }

    .container-hero p {
        font-size: 16px;
        color: #fff;
    }

    .container-hero button {
        width: 37%;
        height: 15%;
        margin-left: 15%;
        color: #fff;
    }

    
    .cards{
        flex-wrap: wrap;
    }
}

@media (max-width: 370px) {
    .container-hero button {
        width: 50%; 
    }
}